<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(rel="stylesheet", href="css/main.css")
		title YahanChen - resume
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/main.js")
	body
		.container
			.container-wrap
				.langu-wrap
					.langu-btn-wrap
						a(href="indexCht.html")
							p 中
					.langu-btn-wrap
						a(href="index.html")
							p EN
				.resume-wrap
					.resume-img
						img(src="images/headshot.png", alt="")
					.resume-content
						.content-title
							h1 陳雅涵的簡歷
						.resume-content-wrap
							.resume-text-wrap
								.resume-icon
									img(src="images/svg/phone.svg", alt="")
								.resume-text
									p +886-933-212-492
							.resume-text-wrap
								.resume-icon
									img(src="images/svg/mail.svg", alt="")
								.resume-text
									p q791017@gmail.com
							.resume-text-wrap
								a(href="https://issuu.com/yahan_chen/docs/profile-1", target="_blank")
									.resume-icon
										img(src="images/svg/link.svg", alt="")
									.resume-text
										p 作品集
				.summary-wrap.col-1
					.content-title
						h2 技能概要
					.summary-content
						.content-text-cht
							p -具備四年的產品實務設計經驗，熟知品牌廠的完整開發流程。
						.content-text-cht
							p -熟悉筆記型電腦相關ID輔料的細節，其包含製程與應用。
						.content-text-cht
							p -清楚地管理各機種零件與小料件，使之更易使用。
						.content-text-cht
							p -具有帶實習生的經驗，安排並分配工作職責以達最高效能。
				.exp-wrap.col-1
					.content-title
						h2 工作經驗
					.exp-time-line-wrap
						.time-line
						.exp-content-wrap
							.date-text
								p 2013.07- 2017.07
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p 微星科技
									p 工業設計師
							.content-text-cht
								p -負責自有品牌Vortex/GE/GF/GP/GV/GL系列的生產與開發流程，由設計提案到3D繪製、輔料製作、模具開發，全程跟線直到產品上市。
							.content-text-cht
								p -ODM產品客製，包含各類銘版設計與模具修改開發設計。
							.content-text-cht
								p -統整各機種的相關輔料與外觀差異，供各單位參照。
							.content-text-cht
								p -帶領實習生學習基本軟體技能與相關工作內容，輔助團隊完成專案。
				.edu-wrap.col-1
					.content-title
						h2 學歷
					.edu-time-line-wrap
						.time-line
						.edu-content-wrap
							.date-text
								p 2006-2009
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p 新北市立鶯歌工商職業學校-陶瓷工程科
							.date-text
								p 2006-2009
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p 朝陽科技大學-工業設計系
				.col-wrap
					.awards-wrap.col-2
						.content-title
							h2 得獎紀錄
						.awards-time-line-wrap
							.time-line
							.awards-content-wrap
								.date-text
									p 2012.06
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p 達梭系統設計獎-創意設計獎 (未來載具設計-Nature)
								.date-text
									p 2013.03
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p 馬來西亞發明展-銀賞 (D-for Dog)
								.date-text
									p 2016.05
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p Computex d&I award by iF (MSI Vortex)
								.date-text
									p 2017.09
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p 金點設計獎 (MSI GE-75)
					.cer-wrap.col-2
						.content-title
							h2 證照
						.cer-time-line-wrap
							.time-line
							.cer-content-wrap
								.date-text
									p 2012.04
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p AutoCAD 國際認證
								.date-text
									p 2018.01
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p TOEIC 720/990
				.skill-wrap.col-1
					.content-title
						h2 軟體技能
					.skill-time-line-wrap
						.time-line
						.skill-content-wrap
							.skill-text-wrap
								.skill-content-title
									p 3D
								.content-text-en
									span Pro-E / SolidWork / Catia
							.skill-text-wrap
								.skill-content-title
									p 2D
								.content-text-en
									p Adobe illustrator / Adobe Photoshop / Coreldraw / AutoCAD
					.skill-time-line-wrap
						.time-line
						.skill-content-wrap
							.skill-text-wrap
								.skill-content-title
									p Render
								.content-text-en
									p Keyshot / C4D
