<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(rel="stylesheet", href="css/main.css")
		title YahanChen - resume
	body
		.container
			.container-wrap
				.langu-wrap
					.langu-btn-wrap
						a(href="indexCht.html")
							p 中
					.langu-btn-wrap
						a(href="index.html")
							p EN
				.resume-wrap
					.resume-img
						img(src="images/headshot.png", alt="")
					.resume-content
						.content-title
							h1 Ya-Han Chen’s Resume
						.resume-content-wrap
							.resume-text-wrap
								.resume-icon
									img(src="images/svg/phone.svg", alt="")
								.resume-text
									p +886-933-212-492
							.resume-text-wrap
								.resume-icon
									img(src="images/svg/mail.svg", alt="")
								.resume-text
									p q791017@gmail.com
							.resume-text-wrap
								a(href="https://issuu.com/yahan_chen/docs/profile-1", target="_blank")
									.resume-icon
										img(src="images/svg/link.svg", alt="")
									.resume-text
										p Portfolio
				.summary-wrap.col-1
					.content-title
						h2 Summary of skills
					.summary-content
						.content-text-cht
							p -4 years of product design experience, well-known the full development process of computer system manufacturer.
						.content-text-cht
							p -Familiar with the details of laptop's decoration mylars or plates, including the process and utilization.
						.content-text-cht
							p -Clearly organized the information of each model's parts and materials to be used easily.
						.content-text-cht
							p -Arranged interns' work details to achieve high effectiveness.
				.exp-wrap.col-1
					.content-title
						h2 Work experiences
					.exp-time-line-wrap
						.time-line
						.exp-content-wrap
							.date-text
								p Jul, 2013- Jul, 2017
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p Micro-Star International Computer Hardware Company(MSI)
									p Industrial designer
							.content-text-cht
								p -Responsibility for channel brand, Vortex, GE, GF, GP, GV, GL series, the production and development; including design proposal, 3D model drawing, decoration materials producing, tooling development, following all process until it launch.
							.content-text-cht
								p -Customizing ODM product, including different types of logo design and tooling redesign.
							.content-text-cht
								p -Arranged each model's related materials and the details of outlook, to be the reference for each departments.
							.content-text-cht
								p -Trained the basic software skills and relative work's details for interns, completed the project with group.
				.edu-wrap.col-1
					.content-title
						h2 Education
					.edu-time-line-wrap
						.time-line
						.edu-content-wrap
							.date-text
								p 2006-2009
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p New Taipei Municipal Yingge Vocational High School - Department of Ceramics Engineering
							.date-text
								p 2006-2009
							.content-text-en-wrap
								.content-text-dot
									.dot-core
								.content-text-en
									p Chaoyang university of technology-department of industrial design
				.col-wrap
					.awards-wrap.col-2
						.content-title
							h2 Awards
						.awards-time-line-wrap
							.time-line
							.awards-content-wrap
								.date-text
									p Jun. 2012
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p Dassault Systems Design Award - creative design price(Futural vehicle design-Nature
								.date-text
									p Mar. 2013
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p Malaysia ITEX (Malaysia International Invention Innovation & Technology Exhibition) - silver prize (D-for Dog)
								.date-text
									p May. 2016
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p Computex d&I award by iF (MSI Vortex)
								.date-text
									p Sept. 2017
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p Young pin design award (MSI GE-75)
					.cer-wrap.col-2
						.content-title
							h2 Certification
						.cer-time-line-wrap
							.time-line
							.cer-content-wrap
								.date-text
									p Apr. 2012
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p AutoCAD Certified Professional
								.date-text
									p Jan. 2018
								.content-text-en-wrap
									.content-text-dot
										.dot-core
									.content-text-en
										p TOEIC 720/990
				.skill-wrap.col-1
					.content-title
						h2 Sofeware skills
					.skill-time-line-wrap
						.time-line
						.skill-content-wrap
							.skill-text-wrap
								.skill-content-title
									p 3D
								.content-text-en
									span Pro-E / SolidWork / Catia
							.skill-text-wrap
								.skill-content-title
									p 2D
								.content-text-en
									p Adobe illustrator / Adobe Photoshop / Coreldraw / AutoCAD
					.skill-time-line-wrap
						.time-line
						.skill-content-wrap
							.skill-text-wrap
								.skill-content-title
									p Render
								.content-text-en
									p Keyshot / C4D
